<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!-- Add health checks section named 'rockLib.healthChecks'. -->
  <configSections>
    <section name="rockLib.healthChecks" type="RockLib.HealthChecks.Configuration.RockLibHealthChecksSection, RockLib.HealthChecks" />
  </configSections>

  <!-- Define the health checks section. -->
  <rockLib.healthChecks>
    <runners>
      <runner name="default"
              version="1"
              serviceId="c0c4b71f-d540-4515-8a87-5a4ae5ca4c55"
              description="My Application">
        <healthChecks>
          <healthCheck type="RockLib.HealthChecks.System.ProcessUptimeHealthCheck, RockLib.HealthChecks" />
          <healthCheck type="RockLib.HealthChecks.System.DiskDriveHealthCheck, RockLib.HealthChecks">
            <value warnGigabytes="300"
                   failGigabytes="100"
                   driveName="C:\" />
          </healthCheck>
        </healthChecks>
      </runner>
    </runners>
  </rockLib.healthChecks>

  <!-- Add the health check http module. -->
  <system.webServer>
    <modules>
      <add name="HealthCheckHttpModule" type="RockLib.HealthChecks.HttpModule.HealthCheckHttpModule" preCondition="managedHandler" />
    </modules>
  </system.webServer>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
